ion-col {
    display: flex;
     align-items: center;
     justify-content: center;
  }

                ion-img{
                    width: 150px;
                    height: 150px;
                    object-fit: contain;
                }

                .bottomRow
                {
                  margin-top: -20px;
                }

                // ion-card{
                //   text-align:center;
                //       ion-card-header{
                //           display: flex; align-items: center;justify-content: center;
                //           ion-img{
                //               width: 150px;
                //               height: 150px;
                //               object-fit: contain;
                //           }
                //       }
                //   }
          
