<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="!toggled">Oxidu</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="toggle()" *ngIf="!toggled">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="search()" *ngIf="toggled">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <form [formGroup]="form">
      <ion-searchbar formControlName="search" placeholder="Busque pelo nome" *ngIf="toggled" [showCancelButton]="true"
        (ionCancel)="toggle()">
      </ion-searchbar>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-slides pager="true" [options]="slideOpts" #slider (ionSlidesDidLoad)="afterslidesLoad(slider)">
      <ion-slide>
        <ion-img src="assets/bg4.png"></ion-img>
      </ion-slide>
      <ion-slide>
        <ion-img src="assets/bg3.png"></ion-img>
      </ion-slide>
    </ion-slides>
    <div *ngIf="!hasFilter">
      <ion-grid>
        <ion-row>
          <ion-card color="light" *ngFor="let state of states" class="container" (click)="filter(state)">
            <ion-col>
              <ion-card-content>
                <ion-text>
                  <h6>{{ state.description }}</h6>
                </ion-text>
              </ion-card-content>
            </ion-col>
          </ion-card>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="hasFilter">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon color="primary" (click)="onBackFilter()" ios="arrow-back-outline" md="arrow-back-sharp"
              size="large" name="arrow-back-outline"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-text color="primary">
              <small>{{ titleFilter }} </small>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
       <ion-list *ngFor="let establishment of establishments">
        <ion-item>
          <ion-thumbnail slot="start">
            <ion-img [src]="getImage(establishment.imageName)"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <h2>{{ establishment.description }}</h2>
            <h3>{{ establishment.city.description }} / {{
              establishment.city.state.description }}</h3>
            <p *ngIf="establishment.email"><ion-icon slot="start" color="primary" ios="mail-outline" md="mail-sharp" size="small"></ion-icon> {{ establishment.email }} </p>
            <p *ngIf="establishment.telephone"><ion-icon slot="start" color="primary" ios="call-outline" md="call-sharp" size="small"></ion-icon> {{ establishment.telephone }} </p>
            <p *ngIf="establishment.whatsApp"><ion-icon slot="start" color="primary" ios="logo-whatsapp" md="logo-whatsapp" size="small"></ion-icon> {{ establishment.whatsApp }} </p>
            <p *ngIf="establishment.facebook"><ion-icon slot="start" color="primary" ios="logo-facebook" md="logo-facebook" size="small"></ion-icon> {{ establishment.facebook }} </p>
            <p *ngIf="establishment.instagram"><ion-icon slot="start" color="primary" ios="logo-instagram" md="logo-instagram" size="small"></ion-icon> {{ establishment.instagram }} </p>
            <p *ngIf="establishment.webSite"><ion-icon slot="start" color="primary" ios="globe-outline" md="globe-sharp" size="small"></ion-icon> {{ establishment.webSite }} </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>