.container {
  width: 8rem;
}

ion-grid {
  height: 100%;
  ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ion-col {
      text-align: center;
    }
  }
}

ion-card {
  text-align: center;
  box-shadow: none;
  ion-card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    ion-img{
      width: 150px;
      height: 150px;
      object-fit: contain;
  }
  }

}

.card-partner {
  border-left: 3px solid var(--ion-color-primary);
}

ion-slides {
  margin: 16px;
  border-radius: 5px;
}






