.container {
  width: 8rem;
}

ion-grid {
  height: 100%;
  ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    ion-col {
      text-align: center;
    }
  }
}

ion-card {
  text-align: center;
  box-shadow: none;
  ion-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

ion-slides {
  margin: 16px;
  border-radius: 5px;
}




